<h3>Page Not Found</h3>

<!-- <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row g-3">


        <div class="mb-2 row" style="padding-top: 25px;">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-5">
                <input type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched) }" />
                <div *ngIf=" f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched)"
                    style="color: red;">
                    First Name is required
                </div>
            </div>
        </div>

        <div class="mb-2 row" style="padding-top: 25px;">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-5">
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': f['email'].invalid && (f['email'].dirty || f['email'].touched) }" />
                <div *ngIf=" f['email'].invalid && (f['email'].dirty || f['email'].touched)" style="color: red;">
                    Email is required
                </div>
            </div>
        </div>

        <div class="mb-2 row" style="padding-top: 25px;">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-5">
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />

                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                    <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
                </div>
            </div>
        </div>

        <div class="text-center d-grid gap-2 col-1">
            <button class="btn btn-primary mr-1">Register</button>
        </div>

    </form>
</div> -->